<% if current_user.nil? %>
  <%= link_to "Sign up", new_user_registration_path%>
  <%= link_to "Sign in", new_user_session_path%>
<% else %>
  <%= "Hello #{current_user.email}"%>
<% end %>

<% if @messages%>
  <table border="1">
    <tr>
      <th>Message</th>
      <th>Place of publishing</th>
    </tr>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.content%></td>
        <td><%= message.place_of_publishing%></td>
        </tr>
    <% end %>  
  </table>  
<% end %>