  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hirundo" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body background="http://wallforu.com/wp-content/uploads/tree_nature_wallpaper.jpg">

    <div class="navbar navbar-fluid-top bg-success"></div>
    <%= render partial: "shared/flash_messages", flash: flash %> 
    <div class="container">
      <div class="row">
        <div class = "col-md-8">
          <%= yield :new_password %>
        </div>
        <div class = "col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group">
                <%= form_for(:user, :url => session_path(:user), :method => :post, :html => { :class => "navbar-form navbar-left"}) do |f| %>
                  <p><%= f.text_field :email, :class => "form-control", :placeholder => "Email" %></p>
                  <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
                  <p>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                  </p>
                  <%= f.submit 'Sign in', :class => "btn btn-primary" %>
                  <%= link_to "Forgot your password?", new_password_path(:user) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class = "col-md-8"></div>
          <div class = "col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                  <%= form_for(:user, url: registration_path(:user), :method => :post, :html => { :class => "navbar-form navbar-left"}) do |f| %>
                   <%= devise_error_messages! %>
                    <p><%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %></p>
                    <p><%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %></p>
                    <p><%= f.password_field :password_confirmation, autocomplete: "off", :class =>"form-control", :placeholder => "Password Confirmation" %></p>
                    <p>
                      <%= f.submit "Sign up", :class => "btn btn-warning" %>
                    </p>
                  <% end %>
               </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>